<!-- <nav class="navbar main-navbar on-top" >
    <div class="container">
<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="menu-ul">
    <li [ngbNavItem]="0">
        <a ngbNavLink (click)='scroll("about")'>
            <span class='nav-number'> </span> <span class="underline nav-text"> AB </span> </a>
            <ng-template class="section" ngbNavContent>
                
            </ng-template>
    </li>
  <li [ngbNavItem]="1">
    <a ngbNavLink (click)='scroll("about")'>
        <span class='nav-number'>01. </span> <span class="underline nav-text"> {{'AboutMe'}}</span> </a>
    <ng-template class="section" ngbNavContent>
        <section class="section about" id='about'>
            <div class="container">
                <div class="section-box">
                    <div class="row">
                        <div class="about-description">
                            <span data-aos="fade-up" data-aos-duration="1000" style="color: #8892b0 !important;">
                                    I have 4 years of experience as a Software developer.  experience in crafting scalable 
                                    applications using Angular, TypeScript, Python, JavaScript, ASP.NET, and MS-SQL.
                                    Adept at optimising user experience, 
                                    application performance, and collaborating seamlessly with cross- functional teams to deliver
                                    high-caliber software solutions. Excels in translating intricate business requirements into
                                    technical specifications while consistently achieving project goals and elevating customer
                                    satisfaction. A champion of innovative thinking, continually challenging boundaries and 
                                    striving for excellence in every endeavour. Committed to pushing the limits of software
                                    engineering through a relentless pursuit of knowledge and cutting- edge practices.
                            </span>
                                <ul class="skills-list" data-aos="fade-up">
                                    <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Angular </span></li>
                                    <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">TypeScript </span></li>
                                    <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">HTML &amp; SCSS </span></li>
                                    <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">SQL</span></li>
                                    <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">ASP.NET </span></li>
                                    <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">C# </span></li>
                                    <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">GraphQL API </span></li>
                                    <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Python </span></li>
                                    <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Machine Learning </span></li>
                                    <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">CI / CD </span></li>
                                    <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Azure Devops </span></li>
                                    <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Git</span></li>
                                </ul>
                            </div>
                        </div>
                    <div class="col-12 col-md-6 mt-4 mt-md-0 text-center" data-aos="fade-up" data-aos-duration="1000">
                </div>
         </div>
     </div>
</section>
    
  
</ng-template>
    
  </li>
  
  <li [ngbNavItem]="2">
    <a ngbNavLink (click)='scroll("experience")'>
        <span class='nav-number'>02. </span> <span class="underline nav-text"> {{'Experience'}}</span>
        </a>
    <ng-template ngbNavContent styel="background: #0a192f;">
        <section class="section about" id='about'>
            <div>
                <p-timeline [value]="experience" styleClass="customized-timeline" align="left" >
                    <ng-template  pTemplate="marker" let-event>
                        <span 
                            class="flex w-2rem h-2rem align-items-center justify-content-center text-white 
                            border-circle z-1 shadow-1 border-color: black;">
                            <img 
                            *ngIf="event.image" 
                            [src]="'/assets/' + event.image"
                            [alt]="event.name"
                            width="200" 
                            class="shadow-2" />
                        </span>
                    </ng-template>
                    <ng-template pTemplate="content" let-event>
                        <p-card header="event.status" 
                            subheader="event.date" data-aos="fade-up" data-aos-duration="1000">
                                {{event.descr}}
                                <br>
                                <button mat-raised-button style="width:100px; height: 40px;"> {{event.button}}</button>
                        </p-card> 
                            <br>
                            <br>
                            <br>    
                    </ng-template>
                </p-timeline>   
            </div>
        </section>
    </ng-template>
    </li>
  
    <li [ngbNavItem]="3">
        <a ngbNavLink (click)='scroll("projects")'>
            <span class='nav-number'>03. </span> <span class="underline nav-text"> {{'Projects'}}</span>
            </a>
      <ng-template ngbNavContent>
      </ng-template>
      </li>
  
      <li [ngbNavItem]="4"> 
        <a ngbNavLink (click)='scroll("contact")'>
            <span class='nav-number'>04. </span> <span class="underline nav-text"> {{'Contact'}}</span>
            </a>
        <ng-template ngbNavContent>
        </ng-template>
        </li>
  
        <li ngbNavItem> 
          <a ngbNavLink class="cv-btn" (click)="downloadCV()">Resume</a>
          </li>
        
   </ul> 
</div>
</nav>

 <div [ngbNavOutlet]="nav" class="mt-2"></div> 


 -->