<nav class="navbar main-navbar on-top" >
    <div class="container">
<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="menu-ul">
  <li [ngbNavItem]="1">
    <a ngbNavLink (click)='scroll("about")' *ngFor="let text of data" class="section-title">{{text.AboutMe}}</a>
    <ng-template ngbNavContent>
        <section class="section about" id="about">
            <div class="about-title"  *ngFor="let text of data" data-aos="fade-up" data-aos-duration="3000">
           {{text.AboutMeDescr2}}
        </div>
    </section>
  
</ng-template>
    
  </li>
  
  <li [ngbNavItem]="2">
    <button ngbNavLink>Experience</button>
    <ng-template ngbNavContent styel="background: #0a192f;">
        <section >
            <div >
                    <p-timeline [value]="experience" styleClass="customized-timeline" align="left" >
                        <ng-template  pTemplate="marker" let-event>
                            <span 
                            class="flex w-2rem h-2rem align-items-center justify-content-center text-white 
                            border-circle z-1 shadow-1 border-color: black;">
                            <img 
                            *ngIf="event.image" 
                            [src]="'/assets/' + event.image"
                            [alt]="event.name"
                            width="200" 
                            class="shadow-2" />
                        </span>
                        </ng-template>
                        <ng-template pTemplate="content" let-event>
                            <p-card [header]="event.status" 
                            [subheader]="event.date" data-aos="fade-up" data-aos-duration="1000">
                                {{event.descr}}
                                <br>
                                <button mat-raised-button style="width:100px; height: 40px;"> {{event.button}}</button>
                            </p-card>
                            <br>
                            <br>
                            <br>    
                        </ng-template>
                    </p-timeline>
            </div>
        </section>
    </ng-template>
    </li>
  
    <li [ngbNavItem]="3">
      <button ngbNavLink>Projects</button>
      <ng-template ngbNavContent>
      </ng-template>
      </li>
  
      <li [ngbNavItem]="4"> 
        <button ngbNavLink>Contact</button>
        <ng-template ngbNavContent>
        </ng-template>
        </li>
  
        <li ngbNavItem> 
          <a ngbNavLink class="cv-btn" (click)="downloadCV()">Resume</a>
          </li>
        
   </ul> 
</div>
</nav>

 <div [ngbNavOutlet]="nav" class="mt-2"></div> 


