<nav [@animateMenu] class="navbar main-navbar on-top" >
    <div class="container">
<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="menu-ul">
  <li [ngbNavItem]="1">
    <button ngbNavLink>About me</button>
    <ng-template ngbNavContent>
   <p>Software Engineer with 4 years of expertise in crafting scalable applications using Angular,
     TypeScript, Python, JavaScript, ASP.NET, and MS-SQL.</p> 
     <p>
        Adept at optimising user experience, application performance, and collaborating seamlessly with 
        cross- functional teams to deliver high-caliber software solutions.
     </p> 
  
</ng-template>
    
  </li>
  
  <li [ngbNavItem]="2">
    <button ngbNavLink>Experience</button>
    <ng-template ngbNavContent>
    </ng-template>
    </li>
  
    <li [ngbNavItem]="3">
      <button ngbNavLink>Projects</button>
      <ng-template ngbNavContent>
      </ng-template>
      </li>
  
      <li [ngbNavItem]="4"> 
        <button ngbNavLink>Contact</button>
        <ng-template ngbNavContent>
        </ng-template>
        </li>
  
        <li ngbNavItem> 
          <a ngbNavLink class="cv-btn" (click)="downloadCV()">Resume</a>
          </li>
        
   </ul> 
</div>
</nav>

 <div [ngbNavOutlet]="nav" class="mt-2"></div> 

   <pre>Active: {{ active }}</pre>
