<section class="section banner" id='banner'>
    <div class="container">
        <div class="section-box">
            <div class="about-title" style="color: #64ffda  !important; font-size:20px;" data-aos="fade-up" data-aos-duration="3000" >
                Hello!  I am 
                <h2 class="section-title" style="color: whitesmoke !important; font-size: 50px;"> Anusha Bharati</h2> 
                <h3 style="color: whitesmoke !important; font-size: 30px;">
                    Software Developer
                </h3> 
                <div class="row">
                    <div class="col-12 col-md-6 mb-4 mb-md-0">
                        <div class="about-description">
                <p data-aos="fade-up" data-aos-duration="3000" style="color: #8892b0 !important;">
                    I have <span style="color: #64ffda"> 4 years </span> of experience as a Software developer. I enjoy developing 
                    <span style="color: #64ffda">  front-end web pages,  APIs,  Machine Learning </span> and <span style="color: #64ffda">AI</span> projects.
                    I aspire to develop clean and scalable applications using <span style="color: #64ffda"> Angular,  .NET,  Python </span>.
                </p>
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 mb-4 mb-md-0">
                    <div class="about-description">
                      
                </div>
                </div>
                <div class="col-12 col-md-6 mt-4 mt-md-0 text-center" data-aos="fade-up" data-aos-duration="1000">
                   
                </div>

            </div>
        </div>
    </div>
    </div>
</section>