<div class="main-navbar on-top nav-shadow">
    <span class="nav-link" (click)="ScrollIntoView('#zero')">AB</span>
    <span class="nav-link" (click)="ScrollIntoView('#first')">About Me</span>
    <span class="nav-link" (click)="ScrollIntoView('#second')">Experience</span>
    <span class="nav-link" (click)="ScrollIntoView('#third')">Contact</span>
   <!--  <span class="nav-link" (click)="ScrollIntoView('#third')">Projects</span> -->
    <span class="nav-link" (click)="ScrollIntoView('#fourth')"><a class="cv-btn main-btn" (click)="downloadCV()">Resume</a></span>
  </div>
  <div id="zero">
    <app-banner></app-banner>
  </div> 
   <div id="first">
    <app-about-me></app-about-me>
  </div> 
   <div id="second"> 
    <app-experience></app-experience>
  </div>
  <div id="third">
    <app-contact></app-contact>
  </div> 
  <div id="fourth">
    
  </div> 
