@import "./custom.scss";

.main-navbar {
    position:fixed;
    top:0;
    width:100%;
    display:flex;
    text-align:center;
    opacity:100%;
    height: 70px;
    background: $Navy;
    font-family: $CodeFont;
    justify-content: right;
    z-index: 10;
    transform: translateX(0vw);
    visibility: visible;
    outline: 0px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    }

    .on-top {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
    height: 100px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.nav-shadow {
    height: 70px;
    box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

    .cv-btn{
        padding: 10px 20px !important;
        color: $Green !important;
        border-style: solid;
        &:hover {
            color: $Green;
            background-color: $LightestNavy;
            cursor:pointer;
        }
      }
      .nav-link {
          padding: 20px 40px;
          color: white;
          margin: 0px;
          font-size: 15px;
          &:hover {
              color: $Green;
          }
      }

      .nav-link-logo {
        padding: 20px 40px;
        color: white;
        margin: -5px;
        font-size: 15px;
        margin-right: 800px;
        &:hover {
            color: $Green;
        }
    }

      .nav-number {
          color: $Green;
          font-size: 12px;
      }
      .nav-text{
        color: $LightestSlate !important;
        padding-bottom: 4px;
      }
      p{
        margin-top: 100px;
        margin-bottom: 1rem;
        margin-right: 300px;
        margin-left: 300px;
      }

          .about{

            .about-description{
                margin-top: 30px;
                max-width: 480px;
            }
        
            .about-img-container{
                width: 324px;
                margin: auto;
        
                &:after{
                    content: '';
                    border: 2px solid $Green;
                    z-index: 0;
                    display: block;
                    position: relative;
                    width: 394px;
                    height: 305px;
                    border-radius: 3px;
                    bottom: 290px;
                    left: 23px;
        
                }
        
                img{
                    z-index: 2;
                    position: relative;
                }
            }
        
            .skills-list{
                display: grid;
                grid-template-columns: repeat(2,minmax(140px,200px));
                overflow: hidden;
                padding: 0;
                margin: 20px 0 0 0;
                list-style: none;
            }
        
            .skill-element{
                position: relative;
                margin-bottom: 10px;
                padding-left: 20px;
                font-size: 13px;
                font-family: $CodeFont;
                color: $Green;
                span{
                  padding-bottom: 5px;
                }
        
                &:before {
                    content: '▹';
                    position: absolute;
                    left: 0;
                    color: $Green;
                    font-size: 14px;
                    line-height: 12px;
                }
            }
        
        }
        .mt-2 {
             margin-top: .0rem !important; 
        }
        .underline {
            text-decoration: none;
            display: inline-block;
            position: relative;
            color: #64ffda !important;
          }
          .nav {
            position:fixed;}