<div class="main-navbar on-top nav-shadow">
    <span class="nav-link-logo" (click)="ScrollIntoView('#zero')" (click)='googleAnalytics.sendGoogleAnalytics("click_Logo", "NavLink", "Banner")'>  <img width="40" height="40" src="assets/logo2.png" alt="Anusha"> </span>
    <span class="nav-link" (click)="ScrollIntoView('#first')" (click)='googleAnalytics.sendGoogleAnalytics("click_AboutMe", "NavLink", "AboutMe")'>About Me</span>
    <span class="nav-link" (click)="ScrollIntoView('#second')" (click)='googleAnalytics.sendGoogleAnalytics("click_Experience", "NavLink", "Experience")'>Experience</span>
    <span class="nav-link" (click)="ScrollIntoView('#third')" (click)='googleAnalytics.sendGoogleAnalytics("click_Contact", "NavLink", "Contact")'>Contact</span>
   <!--  <span class="nav-link" (click)="ScrollIntoView('#third')">Projects</span> -->
    <span class="nav-link" (click)="ScrollIntoView('#fourth')" ><a (click)='googleAnalytics.sendGoogleAnalytics("click_Resume", "NavLink", "Resume")' class="cv-btn main-btn" (click)="downloadCV()">Resume</a></span>
  </div>
  <div id="zero">
    <app-banner></app-banner>
  </div> 
   <div id="first">
    <app-about-me></app-about-me>
  </div> 
   <div id="second"> 
    <app-experience></app-experience>
  </div>
  <div id="third">
    <app-contact></app-contact>
  </div> 
  <div id="fourth">
    
  </div> 
 
  <section  class="section about"> 
    <div class="footer-credits text-center" style="padding: 50px; ">
      <a (click)='googleAnalytics.sendGoogleAnalytics("click_Credits", "Footer", "Credits_AB")' href="https://github.com/Anusha-Bharati/AnushaB-portfolio" style="color:#64ffda;" target="_blank" rel="nofollow noopener noreferrer">
          <div>Built with Angular by Anusha Bharati</div>
      </a>
      <div style="color:#64ffda;" (click)='googleAnalytics.sendGoogleAnalytics("click_Credits", "Footer", "Credits_BC")'> Design inspired by Brittany Chiang</div>
  </div>
  </section>