/* You can add global styles to this file, and also import other style files */
@import "./app/custom.scss";
.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}
html{
    background: #0a192f;
}
.section{
background: #0a192f;
}
.section-box {
    padding: 130px 0;
  }

  .section-title {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 10px 0 40px;
    width: 100%;
    white-space: nowrap;
    font-size: 32px;
    font-weight: 600;
    color: $LightestSlate;
    font-family: $MainFont;
    margin: 0 0 10px 0;
  
    .n-section-title {
      margin-right: 10px;
      font-family: $CodeFont;
      font-weight: normal;
      color: $Green;
      font-size: 20px;
      position: relative;
      bottom: 4px;
    }
  
    &:after {
      content: "";
      display: block;
      height: 1px;
      width: 300px;
      background-color: $LightestNavy;
      position: relative;
      top: -5px;
      margin-left: 20px;
    }
  }
.underline {
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: #64ffda !important;
  }
  .underline:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 3px;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: #64ffda;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0%;
  }
  .underline:hover:after {
    width: 100%;
    left: 0;
  }
  a {
    text-decoration: none;
  
    &:hover {
      text-decoration: none;
      color: #64ffda;
    }
  }